In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import polars as pl
from tsfresh import extract_features
from tsfresh import select_features

from tqdm import tqdm

In [2]:
df = pl.read_parquet('data/train_dataset_feature.parquet').to_pandas()

In [3]:
df.shape

(17148960, 71)

In [4]:
X = df.drop(['series_id', 'timestamp','onset','wakeup','state'], axis=1)
y = df['state']
onset = df['onset']
wakeup = df['wakeup']
series_id = df['series_id']

In [5]:
features_filtered = select_features(X, y)

In [6]:
features_filtered.shape

(17148960, 48)

In [7]:
features_filtered

,step,enmo_1v_30m_std,anglez_1v_30m_mean,anglez_1v_30m_max,anglez_1v_30m_std,enmo_1v_120m_max,enmo_1v_120m_std,anglez_1v_120m_max,enmo_1v_480m_max,anglez_1v_480m_max,...,anglez_cos,enmo_1v_5m_std,enmo_1v_5m_max,enmo_1v_120m_mean,anglez_5m_mean,year,anglez_5m_max,anglez_30m_mean,day,minute_cos
0,0,1,0,2,0,6,0,3,6,4,...,0.997529,0,0,0,0,2018,0,0,18,-1.836970e-16
1,1,1,0,2,0,6,0,3,6,4,...,0.977599,0,0,0,0,2018,0,0,18,-1.836970e-16
2,2,1,0,2,0,6,0,3,6,4,...,0.978810,0,0,0,0,2018,0,0,18,-1.836970e-16
3,3,1,0,3,0,6,0,3,6,4,...,0.976830,0,0,0,0,2018,0,0,18,-1.836970e-16
4,4,1,0,3,0,6,0,3,6,4,...,0.933248,0,0,0,0,2018,0,0,18,-1.836970e-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17148955,17148955,0,0,2,0,0,0,2,2,3,...,0.848097,0,0,0,0,2018,0,0,23,9.945219e-01
17148956,17148956,0,0,2,0,0,0,2,2,3,...,0.848862,0,0,0,0,2018,0,0,23,9.945219e-01
17148957,17148957,0,0,2,0,0,0,2,2,3,...,0.821605,0,0,0,0,2018,0,0,23,9.945219e-01
17148958,17148958,0,0,2,0,0,0,2,2,3,...,0.819939,0,0,0,0,2018,0,0,23,9.945219e-01
17148959,17148959,0,0,2,0,0,0,2,2,3,...,0.912076,0,0,0,0,2018,0,0,23,9.945219e-01

In [8]:
X = pl.from_pandas(features_filtered)
y = pl.from_pandas(y).to_frame()
onset = pl.from_pandas(onset).to_frame()
wakeup = pl.from_pandas(wakeup).to_frame()
series_id = pl.from_pandas(series_id).to_frame()

In [9]:
#Concatenate the features and the labels

df = pl.concat([X, y,onset,wakeup,series_id], how="horizontal")

In [10]:
df.write_parquet('data/train_dataset_feature_selected.parquet')